<ol reversed class="activitylist" style="counter-reset: start-from {{ (activityslistCounter or activityslist.length) + 1 }}">
{% for activity in activityslist | reverse %}
  <li class="activitylist-item{% if activity.url == url %} activitylist-item-active{% endif %}">
    <a href="{{ activity.url | url }}" class="activitylist-link">{% if activity.data.title %}{{ activity.data.title }}{% else %}<code>{{ activity.url }}</code>{% endif %}</a>
    <time class="activitylist-date" datetime="{{ activity.date | htmlDateString }}">{{ activity.date | readableDate }}</time>
    {% for tag in activity.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}
</ol>
