---
layout: layouts/home.html.njk
eleventyNavigation:
  key: Home
  order: 1
permalink: index.html
---

<h1>Current Projects</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.html.njk" %}
