---
layout: layouts/home.html.njk
eleventyNavigation:
  key: Home
  order: 1
permalink: index.html
---

<h1>Projects</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.html.njk" %}

<h1>Tunes</h1>

{% set tuneslist = collections.tunes | head(-3) %}
{% set tuneslistCounter = collections.tunes | length %}
{% include "tuneslist.html.njk" %}
