<ol reversed class="tunelist" style="counter-reset: start-from {{ (tuneslistCounter or tuneslist.length) + 1 }}">
{% for tune in tuneslist | reverse %}
  <li class="tunelist-item{% if tune.url == url %} tunelist-item-active{% endif %}">
    <a href="{{ tune.url | url }}" class="tunelist-link">{% if tune.data.title %}{{ tune.data.title }}{% else %}<code>{{ tune.url }}</code>{% endif %}</a>
    <time class="tunelist-date" datetime="{{ tune.date | htmlDateString }}">{{ tune.date | readableDate }}</time>
    {% for tag in tune.data.tags %}
      {%- if collections.tagList.indexOf(tag) != -1 -%}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
  </li>
{% endfor %}
</ol>
