---
layout: base.html.njk
templateClass: tmpl-activity
---
<h1>{{ title }}</h1>

{% if date %}
<time class="activitylist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
{% endif %}

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
