---
layout: base.html.njk
templateClass: tmpl-activity
date: Last Modified
---
<h1>{{ title }}</h1>

{% if page.date %}
<time class="activitylist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
{% endif %}

{{ content | safe }}

{% if page.url != '/' %}
<p>{% homeLink %}</p>
{% endif %}
