---
layout: base.html.njk
templateClass: tmpl-tune
date: Last Modified
---
<h1>{{ title }}</h1>

{% timer "main", 5, true %}

<time class="activitylist-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>

{{ content | safe }}

<p>{% homeLink %}</p>
