---
layout: layouts/base.html.njk
templateClass: tmpl-post
---
<h1>{{ title }}</h1>

{% if date %}
<time class="postlist-date" datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
{% endif %}

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>
