---
layout: home.html.njk
eleventyNavigation:
  key: Home
  order: 1
permalink: index.html
---

<h1>Activities</h1>

{% set itemlist = collections.activities | head(-3) %}
{% set itemlistCounter = collections.activities | length %}
{% include "itemlist.html.njk" %}

<h1>Latest Tunes</h1>

{% set itemlist = collections.tunes | head(-3) %}
{% set itemlistCounter = collections.tunes | length %}
{% include "itemlist.html.njk" %}

<p>More tunes can be found in <a href="{{ '/tunes/' | url }}">Tunes</a>.</p>
