---
layout: home.html.njk
permalink: index.html
eleventyNavigation:
  key: Home
  order: 1
---

<h1>Activities</h1>

{% set itemlist = collections.orderdActivities | reverse | head(-3) %}
{% set itemlistCounter = collections.orderdActivities | length %}
{% include "itemlist.html.njk" %}

<p><a href="{{ '/activities/' | url }}">More activities ...</a>.</p>

<h1>Tunes</h1>

{% set itemlist = collections.tunes | head(-3) %}
{% set itemlistCounter = collections.tunes | length %}
{% set itemlistReversed = true %}
{% include "itemlist.html.njk" %}

<p><a href="{{ '/tunes/' | url }}">More tunes ...</a>.</p>

