---
layout: home.html.njk
permalink: /
eleventyNavigation:
  key: Posts
  order: 1
---

<h1>Goal: By June have organised a few Jams, plus commitment for more <a href="/activities/goal-jams-june">...</a></h1>

<!-- markdownlint-disable MD013 -->

{% set itemlist = collections.posts | reverse %}
{% include "itemlist.html.njk" %}
