---
layout: home.html.njk
permalink: /
eleventyNavigation:
  key: Posts
  order: 1
---

<h1>Goal: Feb 8th Play Ode to Joy along to recorded othr part <a href="/activities/goal-odetojoy-feb8">...</a></h1>

<!-- markdownlint-disable MD013 -->

{% set itemlist = collections.posts | reverse %}
{% include "itemlist.html.njk" %}
