---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - activity
    - activities
    - tune
    - tunes
    - tagList
  addAllPagesToCollections: true
layout: home.html.njk
renderData:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Tagged “{{ tag }}”</h1>

{% set itemlist = collections[ tag ] %}
{% include "itemlist.html.njk" %}

<p>See <a href="{{ '/tags/' | url }}">all tags</a>.</p>
